---
import { Image } from 'astro:assets';
import ampersand from "../images/ampersand.png";
import twentyEight from "../images/28.png"

import Layout from '../layouts/Layout.astro';
---

<Layout title="Glen & Chrystal Scherf">
	<main class="flex flex-col items-center justify-center h-dvh space-y-20">
		<div class="flex flex-col items-center justify-center -space-y-8">
			<div class="flex flex-col items-center justify-center">
				<h1 class="font-cinzel font-semibold text-4xl text-neutral-800 tracking-widest">Glen</h1>
				<h2 class="font-cinzel font-medium text-2xl text-neutral-700 tracking-wide">Doss Hein</h2>
			</div>
			<Image src={ampersand} alt="Ampersand" width="265" height="264" quality="100" />
			<div class="flex flex-col items-center justify-center">
				<h1 class="font-cinzel font-semibold text-4xl text-neutral-800 tracking-widest">Chrystal</h1>
				<h2 class="font-cinzel font-medium text-2xl text-neutral-700 tracking-wide">Lynn Scherf</h2>
			</div>
		</div>
		<div class="flex flex-col items-center justify-center mt-10 -space-y-3">
			<p class="font-cinzel font-semibold text-4xl text-neutral-800 tracking-widest">Sept</p>
			<Image src={twentyEight} alt="Twenty-Eighth" width="270" height="194" quality="100"/>
			<p class="font-cinzel font-semibold text-4xl text-neutral-800 tracking-widest">2024</p>
		</div>
	</main>
</Layout>